
.rs-footer-inner {
    background: #008080;
}
.rs-footer-inner{
    color: #ffffff;
    padding: 15px;
}
ul{
    list-style-type: none;
}
.rs-footer-inner .footer-section .openingfoot li {
    padding: 0 0 16px 0;
    font-size: 14px;
    color: #ffffff;
}
.rs-footer-bottom .copy-right-part p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.rs-footer-bottom {
    background: #008B8B;
    padding: 20px 0;
}
